<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/safe</url-pattern>
    <url-pattern>/client/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>noSessionCreation</filter-name>
    <filter-class>org.apache.shiro.web.filter.session.NoSessionCreationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>noSessionCreation</filter-name>
    <url-pattern>/client/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>HUDXML3BlobServiceImpl</servlet-name>
    <servlet-class>org.pathways.openciss.server.HUDXML3BlobServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RosieCSVBlobServlet</servlet-name>
    <servlet-class>org.pathways.openciss.server.RosieCSVBlobServlet</servlet-class>
  </servlet>
   <servlet>
     <servlet-name>HUDXML3UploadService</servlet-name>
     <servlet-class>org.pathways.openciss.server.HUDXML3UploadService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HUDXML3BlobServiceImpl</servlet-name>
    <url-pattern>/hudxml3upload/blobservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RosieCSVBlobServlet</servlet-name>
    <url-pattern>/rosie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HUDXML3UploadService</servlet-name>
    <url-pattern>/hudxml3upload/uploadservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>_ah_warmup</servlet-name>
    <servlet-class>org.pathways.openciss.shared.WarmupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>jerseywebapp</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>org.pathways.openciss.rest.impl</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.classnames</param-name>
      <param-value>org.codehaus.jackson.jaxrs.JacksonJsonProvider</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jerseywebapp</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>SearchDemo.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>cron</web-resource-name>
      <url-pattern>/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>client</web-resource-name>
      <url-pattern>/client/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>uploader</web-resource-name>
      <url-pattern>/hudxml3upload/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>